.canvas {
    background: dodgerblue;
    perspective: 1000px;
}

.globalCamera {
    will-change: transform;
    transition: transform 0.1s linear;
}

.cake {
    --cakeBaseHeight: 80px;
}

.cakeBase {
    --bottomBackground: #9a501a;
    /*--topBackground: white;*/
    --baseColor: #de9f7a;
    --middleToppingColor: #ffe6a7;
    --sideBackground: linear-gradient(
        var(--baseColor) 0,
        var(--baseColor) 30%,
        var(--middleToppingColor) 30%,
        var(--middleToppingColor) 35%,
        var(--baseColor) 35%,
        var(--baseColor) 65%,
        var(--middleToppingColor) 65%,
        var(--middleToppingColor) 70%,
        var(--baseColor) 70%,
        var(--baseColor) 100%
    );
    --darken: #00000022;
    --leftBackground: linear-gradient(var(--darken), var(--darken)), var(--sideBackground);
    --rightBackground: linear-gradient(var(--darken), var(--darken)), var(--sideBackground);
    --frontBackground: var(--sideBackground);
    --backBackground: var(--sideBackground);

    --height: var(--cakeBaseHeight);
    --cakeUnitSize: 20px;
}

.cakeIcing {
    --height: 20px;
    --topBackground: white;
    --sideBackground: #f6f6f6;
    --bottomBackground: white;
    --scaleFactor: 1.05;
    transform: translateY(-50px) scale3d(var(--scaleFactor), var(--scaleFactor), var(--scaleFactor));
}

.cakeBase ._reusableBox__boxTop {
    /*box-shadow: 0 0 1px white;*/
    /*border: 2px solid*/
}

.cakeBase ._reusableBox__boxFront, .cakeBase ._reusableBox__boxBack,
.cakeBase ._reusableBox__boxLeft, .cakeBase ._reusableBox__boxRight {
    /*top: calc(var(--height) / -2 + 1px);*/
}

.cakeBase ._reusableBox__boxBottom {
    /*transform: rotateX(-90deg) translateZ(calc(var(--height) / 2 + 1px));*/
}


.cakeBase1 {
    --length: 390px;
    --width: 40px;
}

.cakeBase4 {
    --length: 380px;
    --width: 110px;
}

.cakeBase9 {
    --length: 110px;
    --width: 380px;
}

.cakeBase2 {
    --length: 360px;
    --width: 160px;
}

.cakeBase5 {
    --length: 340px;
    --width: 200px;
}

.cakeBase8 {
    --length: 200px;
    --width: 340px;
}

.cakeBase3 {
    --length: 320px;
    --width: 240px;
}


.cakeBase10 {
    --length: 240px;
    --width: 320px;
}

.cakeBase11 {
    --length: 160px;
    --width: 360px;
}

.cakeBase12 {
    --length: 40px;
    --width: 390px;
}

.cakeBase7 {
    --length: 282px;
    --width: 282px;
}

.cakeText {
    position: absolute;
    text-transform: uppercase;
    font-size: 160px;
    font-family: VT323, monospace;
    margin: 0;
    --additionalTransform: translateY(-165px);
    --additionalTransform2: translateZ(100px);
    transform: var(--additionalTransform2) var(--additionalTransform) translateX(-50%) scaleX(1.2);
    text-align: center;
    line-height: 0.7em;
    user-select: none;
    letter-spacing: -0.1em;
}

.cakeText * {
    margin: 0;
}

.cakeText:nth-of-type(2) {
    --additionalTransform2: translateZ(0.7em);
}

.cakeText:nth-of-type(3) {
    --additionalTransform2: translateZ(1.4em);
}

.cakeText .front3DText {
    color: #ffa7a7;
}

.cakeText .side3DText {
    position: absolute;
    top: 0;
    color: #e14646;
}


.candleText {
    position: absolute;
    text-transform: uppercase;
    font-size: 180px;
    font-family: VT323, monospace;
    margin: 0;
    --additionalTransform: translateY(calc(-0.7em - 55px));
    --additionalTransform2: translateZ(100px);
    transform: var(--additionalTransform2) var(--additionalTransform) translateX(calc(-50%)) scaleX(1.2);
    text-align: center;
    line-height: 0.7em;
    user-select: none;
    /*letter-spacing: -0.1em;*/
    width: max-content;
}

.candleText * {
    margin: 0;
}

.candleText .candleChar {
    position: relative;
    color: transparent;
    display: inline-block;
    background:  linear-gradient(
            rgba(255, 0, 0, 1) 10%,
            rgba(255, 154, 0, 1) 20%,
            rgba(208, 222, 33, 1) 30%,
            rgba(79, 220, 74, 1) 40%,
            rgba(63, 218, 216, 1) 50%,
            rgba(47, 201, 226, 1) 60%,
            rgba(28, 127, 238, 1) 70%,
            rgba(95, 21, 242, 1) 80%,
            rgba(186, 12, 248, 1) 90%
    );
    -webkit-background-clip: text;
}

.candleText .frontCandleChar {
    background: inherit;
}

.candleText .sideCandleChar {
    position: absolute;
    top: 0;
    color: transparent;
    background: inherit;
    filter: brightness(0.8);
}

.fire {
    --mainBackground: rgba(255, 172, 22, 0.68);
    --leftBackground: var(--mainBackground);
    --topBackground: var(--mainBackground);
    --rightBackground: var(--mainBackground);
    --bottomBackground: var(--mainBackground);
    --backBackground: var(--mainBackground);
    --frontBackground: var(--mainBackground);
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(50%);
    transform: translateZ(-10px);
}

.fireTransformGroup {
    transform-origin: 0 20px 0;
    animation: waggle 2s ease-in-out infinite;
    transform: rotateZ(-3deg);
}

@keyframes waggle {
    0% {
        transform: rotateZ(-3deg);
    }

    50% {
        transform: rotateZ(3deg);
    }
}

.firePart1 {
    --width: 16px;
    --length: var(--width);
    --height: 15px;
}

.firePart2 {
    --width: 12px;
    --length: var(--width);
    --height: 22px;
    transform: translateY(-1px);
}

.firePeak {
    --width: 7px;
    --length: var(--width);
    --height: 23px;
    transform: translateY(-5px);
}

.flakeTopping {
    transform: translateY(-64px);
}

.cakeFlake {
    --length: 20px;
    --width: 5px;
    --height: 2px;
    --darken: #00000022;
    --extraDarken: #00000044;
    --primaryColor: #ff4444;
    --topBackground: var(--primaryColor);
    --bottomBackground: var(--primaryColor);
    --leftBackground: linear-gradient(var(--extraDarken), var(--extraDarken)), var(--primaryColor);
    --rightBackground: linear-gradient(var(--extraDarken), var(--extraDarken)), var(--primaryColor);
    --frontBackground: linear-gradient(var(--darken), var(--darken)), var(--primaryColor);
    --backBackground: linear-gradient(var(--darken), var(--darken)), var(--primaryColor);
}

.redFlake {
    --primaryColor: #ff4444;
}

.blueFlake {
    --primaryColor: #1fa1ff;
}

.greenFlake {
    --primaryColor: #0fdc00;
}

.goldFlake {
    --primaryColor: #eeae37;
}

.cakeFlake:nth-of-type(1) {
    transform: translate3d(100px, 0, 10px) rotateY(50deg);
}

.cakeFlake:nth-of-type(2) {
    transform: translate3d(30px, 0, -80px) rotateY(-30deg);
}

.cakeFlake:nth-of-type(3) {
    transform: translate3d(-90px, 0, 10px) rotateY(-70deg);
}

.cakeFlake:nth-of-type(4) {
    transform: translate3d(80px, 0, -130px) rotateY(-80deg);
}

.cakeFlake:nth-of-type(5) {
    transform: translate3d(-100px, 0, -100px) rotateY(40deg);
}


.cakeFlake:nth-of-type(6) {
    transform: translate3d(-50px, 0, -50px) rotateY(70deg);
}

.cakeFlake:nth-of-type(7) {
    transform: translate3d(140px, 0, -40px) rotateY(-42deg);
}

.cakeFlake:nth-of-type(8) {
    transform: translate3d(-150px, 0, -30px) rotateY(-73deg);
}

.cakeFlake:nth-of-type(9) {
    transform: translate3d(0px, 0, -130px) rotateY(-50deg);
}

.cakeFlake:nth-of-type(10) {
    transform: translate3d(-40px, 0, 40px) rotateY(-30deg);
}


.cakeFlake:nth-of-type(11) {
    transform: translate3d(-30px, 0, 140px) rotateY(30deg);
}

.cakeFlake:nth-of-type(12) {
    transform: translate3d(-150px, 0, 40px) rotateY(-42deg);
}

.cakeFlake:nth-of-type(13) {
    transform: translate3d(150px, 0, 30px) rotateY(-33deg);
}

.cakeFlake:nth-of-type(14) {
    transform: translate3d(0px, 0, 0px) rotateY(-20deg);
}

.cakeFlake:nth-of-type(15) {
    transform: translate3d(40px, 0, 50px) rotateY(30deg);
}

.cakeFlake:nth-of-type(16) {
    transform: translate3d(40px, 0, 150px) rotateY(-50deg);
}

.cakeFlake:nth-of-type(17) {
    transform: translate3d(120px, 0, 90px) rotateY(42deg);
}

.cakeFlake:nth-of-type(18) {
    transform: translate3d(50px, 0, -30px) rotateY(37deg);
}

.cakeFlake:nth-of-type(19) {
    transform: translate3d(120px, 0, -100px) rotateY(20deg);
}

.cakeFlake:nth-of-type(20) {
    transform: translate3d(-50px, 0, -160px) rotateY(30deg);
}

.cakeFlake:nth-of-type(21) {
    transform: translate3d(0px, 0, 170px) rotateY(-5deg);
}

.cakeFlake:nth-of-type(22) {
    transform: translate3d(90px, 0, 130px) rotateY(-30deg);
}

.cakeFlake:nth-of-type(23) {
    transform: translate3d(-70px, 0, 160px) rotateY(-20deg);
}

.cakeFlake:nth-of-type(24) {
    transform: translate3d(-90px, 0, 130px) rotateY(30deg);
}