.canvas {
    background: dodgerblue;
    perspective: 1000px;
}

.globalCamera {
    will-change: transform;
    transition: transform 0.1s linear;
}

.cake {
    --cakeBaseHeight: 80px;
}

.cakeBase {
    --bottomBackground: #9a501a;
    /*--topBackground: white;*/
    --baseColor: #de9f7a;
    --middleToppingColor: #ffe6a7;
    --sideBackground: linear-gradient(
        var(--baseColor) 0,
        var(--baseColor) 30%,
        var(--middleToppingColor) 30%,
        var(--middleToppingColor) 35%,
        var(--baseColor) 35%,
        var(--baseColor) 65%,
        var(--middleToppingColor) 65%,
        var(--middleToppingColor) 70%,
        var(--baseColor) 70%,
        var(--baseColor) 100%
    );
    --darken: #00000022;
    --leftBackground: linear-gradient(var(--darken), var(--darken)), var(--sideBackground);
    --rightBackground: linear-gradient(var(--darken), var(--darken)), var(--sideBackground);
    --frontBackground: var(--sideBackground);
    --backBackground: var(--sideBackground);

    --height: var(--cakeBaseHeight);
    --cakeUnitSize: 20px;
}

.cakeIcing {
    --height: 20px;
    --topBackground: white;
    --sideBackground: #f6f6f6;
    --bottomBackground: white;
    --scaleFactor: 1.05;
    transform: translateY(-50px) scale3d(var(--scaleFactor), var(--scaleFactor), var(--scaleFactor));
}

.cakeBase ._reusableBox__boxTop {
    /*box-shadow: 0 0 1px white;*/
    /*border: 2px solid*/
}

.cakeBase ._reusableBox__boxFront, .cakeBase ._reusableBox__boxBack,
.cakeBase ._reusableBox__boxLeft, .cakeBase ._reusableBox__boxRight {
    /*top: calc(var(--height) / -2 + 1px);*/
}

.cakeBase ._reusableBox__boxBottom {
    /*transform: rotateX(-90deg) translateZ(calc(var(--height) / 2 + 1px));*/
}


.cakeBase1 {
    --length: 390px;
    --width: 40px;
}

.cakeBase4 {
    --length: 380px;
    --width: 110px;
}

.cakeBase9 {
    --length: 110px;
    --width: 380px;
}

.cakeBase2 {
    --length: 360px;
    --width: 160px;
}

.cakeBase5 {
    --length: 340px;
    --width: 200px;
}

.cakeBase8 {
    --length: 200px;
    --width: 340px;
}

.cakeBase3 {
    --length: 320px;
    --width: 240px;
}


.cakeBase10 {
    --length: 240px;
    --width: 320px;
}

.cakeBase11 {
    --length: 160px;
    --width: 360px;
}

.cakeBase12 {
    --length: 40px;
    --width: 390px;
}

.cakeBase7 {
    --length: 282px;
    --width: 282px;
}

.cakeText {
    position: absolute;
    text-transform: uppercase;
    font-size: 160px;
    font-family: VT323, monospace;
    margin: 0;
    --additionalTransform: translateY(-165px);
    --additionalTransform2: translateZ(100px);
    transform: var(--additionalTransform2) var(--additionalTransform) translateX(-50%) scaleX(1.2);
    text-align: center;
    line-height: 0.7em;
    user-select: none;
    letter-spacing: -0.1em;
}

.cakeText * {
    margin: 0;
}

.cakeText:nth-of-type(2) {
    --additionalTransform2: translateZ(0.7em);
}

.cakeText:nth-of-type(3) {
    --additionalTransform2: translateZ(1.4em);
}

.cakeText .front3DText {
    color: #ffa7a7;
}

.cakeText .side3DText {
    position: absolute;
    top: 0;
    color: #e14646;
}


.candleText {
    position: absolute;
    text-transform: uppercase;
    font-size: 180px;
    font-family: VT323, monospace;
    margin: 0;
    --additionalTransform: translateY(calc(-0.7em - 55px));
    --additionalTransform2: translateZ(100px);
    transform: var(--additionalTransform2) var(--additionalTransform) translateX(calc(-50%)) scaleX(1.2);
    text-align: center;
    line-height: 0.7em;
    user-select: none;
    /*letter-spacing: -0.1em;*/
    width: max-content;
}

.candleText * {
    margin: 0;
}

.candleText .candleChar {
    position: relative;
    color: transparent;
    display: inline-block;
    --candleColor: linear-gradient(
            rgba(255, 0, 0, 1) 10%,
            rgba(255, 154, 0, 1) 20%,
            rgba(208, 222, 33, 1) 30%,
            rgba(79, 220, 74, 1) 40%,
            rgba(63, 218, 216, 1) 50%,
            rgba(47, 201, 226, 1) 60%,
            rgba(28, 127, 238, 1) 70%,
            rgba(95, 21, 242, 1) 80%,
            rgba(186, 12, 248, 1) 90%
    );
}

.candleText .frontCandleChar {
    background: linear-gradient(#fff4, #fff4), var(--candleColor);
    -webkit-background-clip: text;
}

.candleText .sideCandleChar {
    position: absolute;
    top: 0;
    color: transparent;
    background: linear-gradient(#0004, #0004), var(--candleColor);
    -webkit-background-clip: text;
}

.fire {
    --mainBackground: rgba(255, 172, 22, 0.68);
    --leftBackground: var(--mainBackground);
    --topBackground: var(--mainBackground);
    --rightBackground: var(--mainBackground);
    --bottomBackground: var(--mainBackground);
    --backBackground: var(--mainBackground);
    --frontBackground: var(--mainBackground);
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(50%);
    transform: translateZ(-10px);
}

.fireTransformGroup {
    transform-origin: 0 20px 0;
    animation: waggle 2s ease-in-out infinite;
    transform: rotateZ(-3deg);
}

@keyframes waggle {
    0% {
        transform: rotateZ(-3deg);
    }

    50% {
        transform: rotateZ(3deg);
    }
}

.firePart1 {
    --width: 16px;
    --length: var(--width);
    --height: 15px;
}

.firePart2 {
    --width: 12px;
    --length: var(--width);
    --height: 22px;
    transform: translateY(-1px);
}

.firePeak {
    --width: 7px;
    --length: var(--width);
    --height: 23px;
    transform: translateY(-5px);
}

