form {
    text-align: center;
    font-size: 0.75rem;
}

fieldset {
    border: none;
    padding: 0;
}

input {
    font: inherit;
}


.createCakeForm, .getCakeForm, .editCakeForm {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    row-gap: 0.5em;
}


.createCakeForm input, .createCakeForm select,
.editCakeForm input, .editCakeForm select {
    font: inherit;
    text-align: right;
}

.createCakeForm .finalizeCreateCakeButton {
    text-align: center;
}

.createCakeForm label, .editCakeForm label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5em;
}


.createCakeForm label span, .editCakeForm label span {
    flex: 1;
    text-align: left;
}


.createCakeForm input[type=color]::after, .editCakeForm input[type=color]::after {
    content: "";
    display: block;
    width: 1.5em;
    aspect-ratio: 1/1;
    background: var(--currentColor);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 2px solid #0004;
}

.createCakeForm input[type=color], .editCakeForm input[type=color] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 1.25em;
    aspect-ratio: 1/1;
    background: transparent;
    border: none;
    --currentColor: red;
    position: relative;
}




.getCakeForm {
    font-size: 1.25rem;
}

.getCakeInput {
    display: flex;
    font-size: 0.8em;
    column-gap: 0.25em;
}

.getCakeForm input[type=text] {
    width: 16em;
    flex: 1;
}

.getCakeForm .message {
    color: red;
    font-size: 0.75em;
}


.cakeIDOverlay {
    z-index: 100;
    background: #0008;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.cakeIDOverlayWindow {
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    text-align: center;
    display: none;
}

.cakeIDOverlayWindow h3 {
    margin-block: 0.25em;
}

.newCakeID {
    color: dodgerblue;
    font-size: 2em;
}

.makeThisRainbow {
    background: linear-gradient(-45deg,
            rgba(255, 0, 0, 1) 20%,
            rgba(255, 154, 0, 1) 28.75%,
            rgba(208, 222, 33, 1) 37.5%,
            rgba(79, 220, 74, 1) 46.25%,
            rgba(63, 218, 216, 1) 55%,
            rgba(47, 201, 226, 1) 63.75%,
            rgba(28, 127, 238, 1) 72.5%,
            rgba(95, 21, 242, 1) 81.25%,
            rgba(186, 12, 248, 1) 90%);
    border: none;
    width: 1.5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.editCakeForm .finalizeEditCakeButton {
    text-align: center;
    font: inherit;
    font-size: 1.25em;
    background: #8be58b;
    border: none;
}

.editCakeForm .delete {
    background: red;
    color: white;
    font-weight: 600;
}