.creamCherryTopping {
    transform: translateY(-65px);
}

.creamBase {
    --darken: #00000022;
    --extraDarken: #00000044;
    --primaryColor: #ffffff;
    --topBackground: var(--primaryColor);
    --bottomBackground: var(--primaryColor);
    --leftBackground: linear-gradient(var(--extraDarken), var(--extraDarken)), var(--primaryColor);
    --rightBackground: linear-gradient(var(--extraDarken), var(--extraDarken)), var(--primaryColor);
    --frontBackground: linear-gradient(var(--darken), var(--darken)), var(--primaryColor);
    --backBackground: linear-gradient(var(--darken), var(--darken)), var(--primaryColor);
}

.creamBase1 {
    --width: 50px;
    --length: 40px;
    --height: 7px;
}

.creamBase2 {
    --width: 40px;
    --length: 50px;
    --height: 7px;
}

.creamBase3 {
    --width: 40px;
    --length: 40px;
    --height: 7px;
    transform: translateY(-7px);
}


.cherry {
    transform: translateY(-14px);
    --primaryColor: #d90000;
    --darken: #00000022;
    --extraDarken: #00000044;
    --topBackground: var(--primaryColor);
    --bottomBackground: var(--primaryColor);
    --leftBackground: linear-gradient(var(--extraDarken), var(--extraDarken)), var(--primaryColor);
    --rightBackground: linear-gradient(var(--extraDarken), var(--extraDarken)), var(--primaryColor);
    --frontBackground: linear-gradient(var(--darken), var(--darken)), var(--primaryColor);
    --backBackground: linear-gradient(var(--darken), var(--darken)), var(--primaryColor);
    --bigDimension: 25px;
    --smallDimension: 20px;
}

.cherryBox1 {
    --width: var(--bigDimension);
    --height: var(--smallDimension);
    --length: var(--smallDimension);
}

.cherryBox2 {
    --width: var(--smallDimension);
    --height: var(--bigDimension);
    --length: var(--smallDimension);
}

.cherryBox3 {
    --width: var(--smallDimension);
    --height: var(--smallDimension);
    --length: var(--bigDimension);
}

.cherryStem {
    --primaryColor: #9b3714;
    --topBackground: var(--primaryColor);
    --bottomBackground: var(--primaryColor);
    --leftBackground: linear-gradient(var(--extraDarken), var(--extraDarken)), var(--primaryColor);
    --rightBackground: linear-gradient(var(--extraDarken), var(--extraDarken)), var(--primaryColor);
    --frontBackground: linear-gradient(var(--darken), var(--darken)), var(--primaryColor);
    --backBackground: linear-gradient(var(--darken), var(--darken)), var(--primaryColor);
}

.cherryStem1 {
    --width: 2px;
    --length: 2px;
    --height: 20px;
    transform: translateY(-15px);
}

.cherryStem2 {
    --width: 2px;
    --length: 2px;
    --height: 10px;
    transform: translateY(-25px) translateX(-2px);
}

.creamCherry:nth-of-type(1) {
    transform: translate3d(-150px, 0, 0);
}

.creamCherry:nth-of-type(2) {
    transform: translate3d(150px, 0, 0);
}

.creamCherry:nth-of-type(3) {
    transform: translate3d(0, 0, 150px);
}

.creamCherry:nth-of-type(4) {
    transform: translate3d(0, 0, -150px);
}

.creamCherry:nth-of-type(5) {
    transform: translate3d(-100px, 0, 100px);
}

.creamCherry:nth-of-type(6) {
    transform: translate3d(-100px, 0, -100px);
}

.creamCherry:nth-of-type(7) {
    transform: translate3d(100px, 0, 100px);
}

.creamCherry:nth-of-type(8) {
    transform: translate3d(100px, 0, -100px);
}