body {
    font-family: "Lato", system-ui, sans-serif;
}

.canvas {
    background: dodgerblue;
    perspective: 1000px;
    --offsetPerspectiveY: -500px;
}

.globalCamera {
    will-change: transform;
    transition: transform 0.1s linear;
}

.cake {
    --cakeBaseHeight: 80px;
    transform: translateY(50px);
}

.cakeBase {
    --bottomBackground: linear-gradient(var(--darken), var(--darken)), var(--baseColor);
    /*--topBackground: white;*/
    --baseColor: #ff4d47;
    --baseCreamColor: #ffe6a7;
    --sideBackground: linear-gradient(
        var(--baseColor) 0,
        var(--baseColor) 30%,
        var(--baseCreamColor) 30%,
        var(--baseCreamColor) 35%,
        var(--baseColor) 35%,
        var(--baseColor) 65%,
        var(--baseCreamColor) 65%,
        var(--baseCreamColor) 70%,
        var(--baseColor) 70%,
        var(--baseColor) 100%
    );
    --darken: #00000033;
    --leftBackground: linear-gradient(var(--darken), var(--darken)), var(--sideBackground);
    --rightBackground: linear-gradient(var(--darken), var(--darken)), var(--sideBackground);
    --frontBackground: var(--sideBackground);
    --backBackground: var(--sideBackground);
    --height: var(--cakeBaseHeight);
    --cakeUnitSize: 20px;
}

.cakeIcing {
    --height: 20px;
    --topCreamColor: white;
    --darken: #0001;
    --topBackground: var(--topCreamColor);
    --sideBackground: linear-gradient(var(--darken), var(--darken)), var(--topCreamColor);
    --bottomBackground: linear-gradient(var(--darken), var(--darken)), var(--topCreamColor);
    --scaleFactor: 1.05;
    transform: translateY(-50px) scale3d(var(--scaleFactor), var(--scaleFactor), var(--scaleFactor));
}

.cakeBase ._reusableBox__boxTop {
    /*box-shadow: 0 0 1px white;*/
    /*border: 2px solid*/
}

.cakeBase ._reusableBox__boxFront, .cakeBase ._reusableBox__boxBack,
.cakeBase ._reusableBox__boxLeft, .cakeBase ._reusableBox__boxRight {
    /*top: calc(var(--height) / -2 + 1px);*/
}

.cakeBase ._reusableBox__boxBottom {
    /*transform: rotateX(-90deg) translateZ(calc(var(--height) / 2 + 1px));*/
}


.cakeBase1 {
    --length: 390px;
    --width: 40px;
}

.cakeBase4 {
    --length: 380px;
    --width: 110px;
}

.cakeBase9 {
    --length: 110px;
    --width: 380px;
}

.cakeBase2 {
    --length: 360px;
    --width: 160px;
}

.cakeBase5 {
    --length: 340px;
    --width: 200px;
}

.cakeBase8 {
    --length: 200px;
    --width: 340px;
}

.cakeBase3 {
    --length: 320px;
    --width: 240px;
}


.cakeBase10 {
    --length: 240px;
    --width: 320px;
}

.cakeBase11 {
    --length: 160px;
    --width: 360px;
}

.cakeBase12 {
    --length: 40px;
    --width: 390px;
}

.cakeBase7 {
    --length: 282px;
    --width: 282px;
}

.cakeText {
    position: absolute;
    text-transform: uppercase;
    font-size: 160px;
    font-family: VT323, monospace;
    margin: 0;
    --additionalTransform: translateY(-165px);
    --additionalTransform2: translateZ(100px);
    transform: var(--additionalTransform2) var(--additionalTransform) translateX(-50%) scaleX(1.2);
    text-align: center;
    line-height: 0.7em;
    user-select: none;
    letter-spacing: -0.1em;
}

.cakeText * {
    margin: 0;
}

.cakeText:nth-of-type(2) {
    --additionalTransform2: translateZ(0.7em);
}

.cakeText:nth-of-type(3) {
    --additionalTransform2: translateZ(1.4em);
}

.cakeText .front3DText {
    color: #ffa7a7;
}

.cakeText .side3DText {
    position: absolute;
    top: 0;
    color: #e14646;
}

.finalizeEditCakeButton {
    display: block;
    width: 100%;
}